.card {
  border-radius: 5px;
  width: 200px;
  background-color: $white;
  border: 1px solid $border-color;
  box-sizing: border-box;
  align-items: center;
  &__container {
    display: flex;
    flex-direction: column;
    padding: 32px 16px 16px;
  }

  &__image {
    align-self: center;
    width: 160px;
    height: 134px;
    margin-bottom: 40px;
  }

  &__heading {
    margin: 0 0 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $main-color;
  }

  &__code {
    color: $second-color;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
  }

  &__price {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $second-color;
  }

  &__price-value {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $main-color;
  }

  &__reviews {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $main-color;
  }

  &__review-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__buy {
    display: flex;
    height: 40px;
    margin-top: 16px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid transparent;
    color: $white;
    background-color: $button-color;
    border-radius: 5px;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    text-transform: uppercase;

    &:hover {
      border-color: $button-color;
      background-color: $white;
      color: $button-color;
    }
  }
}
